/* Error: unmatched "}".
 *    ,
 * 47 | }
 *    | ^
 *    '
 *   css\sass\page\_home.scss 47:1  @use
 *   css\sass\style.scss 8:1        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: unmatched "}".\a    \2577 \a 47 \2502  }\d\a    \2502  ^\a    \2575 \a   css\\sass\\page\\_home.scss 47:1  @use\a   css\\sass\\style.scss 8:1        root stylesheet';
}
